<section>
    <script>
        function muda(id,id2){
            var element = document.getElementById(id);
            element.classList.toggle("none");
            var element = document.getElementById(id2);
            element.classList.toggle("aberto");
        }
    </script>
    <div class="title">lista de arquivos</div>
    <br>
    <span>(clique nas abas para ver os arquivos disponíveis)</span>
    <!-- BEGIN CATEGORIAS -->
    <div style="cursor: pointer;" class="fechado"  id="alpha_{categorias}" onclick="muda('{categorias}','alpha_{categorias}');">
        <a style="font-size: 14px;">{categorias}</a>
    </div>
    <div id="{categorias}" class="none subaberto">
    <!-- BEGIN ARQUIVOS -->
        <div>
            <a href="http://www.sounet.com.br/administrar/uploads/{link}"  download style="font-size: 16px;" target="_blank">&rArr; {arquivo}</a>
            <!-- BEGIN UNLINKAR -->
            <a href="{URL_ADMIN}/arquivo/del/{id}">
                <img src="{URL_ADMIN}/assets/img/cancel.png">
            </a>
            <!-- END UNLINKAR -->
        </div>
    <!-- END ARQUIVOS -->
    </div>
    <!-- END CATEGORIAS -->
</section>
