<div>
    <div style="display:table;">
    <!-- BEGIN REPETE -->
        <div style="width:50%;float: left;text-align: center;">
            <span style="font-size: 18px;text-transform: uppercase;">
                {nome}
            </span>
            <div>
                <iframe class="mediaratio" src="https://www.youtube.com/embed/{video}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    <!-- END REPETE -->
    </div>
    <div style="clear: both;"></div>
</div>